<div class="max-h-full max-w-full flex justify-content-center align-items-center">
  <p-card header="Đăng nhập hệ thống" class="w-30rem">
    <form [formGroup]="loginForm" class="w-full py-2" (ngSubmit)="onSubmit()">
      <div class="flex flex-column mb-3">
        <label for="username">Tài khoản</label>
        <input
          formControlName="username"
          pInputText
          id="username"
          aria-describedby="username-help"
        />
        @if (loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched)
        {
          <small class="text-red-500 mt-1"> {{ getError('username') }} </small>
        }
      </div>
      <div class="flex flex-column mb-3">
        <label for="password">Mật khẩu</label>
        <p-password id="password" formControlName="password" fluid feedback="false" toggleMask />
        @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched)
        {
          <small class="text-red-500 mt-1"> {{ getError('password') }} </small>
        }
      </div>
      <div class="flex mt-5">
        <p-button type="submit" label="Đăng nhập" />
      </div>
    </form>
  </p-card>
</div>
