<div class="card h-full">
    <div class="flex flex-row justify-between items-center mb-4">
        <div class="font-semibold text-xl uppercase">Cấu hình template Email</div>
        <div class="flex gap-2 items-center">
            <form [formGroup]="form">
                <input pInputText formControlName="tenMauNoiDung" id="tenMauNoiDung" placeholder="Tên Template" type="text" class="w-full" />
                @if (form.get('tenMauNoiDung')?.hasError('required') && form.get('tenMauNoiDung')?.touched) {
                <p-message severity="error" variant="simple" size="small">{{ getError('tenMauNoiDung') }} </p-message>
                }
            </form>
            <p-select
                [options]="data"
                optionLabel="name"
                optionValue="id"
                placeholder="Chọn data để preview"
                (onChange)="selectData($event)">
            </p-select>
            <p-button
                label="Preview"
                icon="pi pi-eye"
                severity="secondary"
                size="small"
                [disabled]="!selectedPerson"
                (click)="previewWithData()">
            </p-button>
            <p-button
                *ngIf="!this.templateEmail"
                label="Create"
                icon="pi pi-plus"
                size="small"
                (click)="saveTemplate()">
            </p-button>
             <p-button
                *ngIf="this.templateEmail"
                label="Update"
                icon="pi pi-save"
                size="small"
                (click)="saveTemplate()">
            </p-button>
            <p-button
                label="Back"
                icon="pi pi-arrow-left"
                severity="contrast"
                size="small"
                (click)="back()">
            </p-button>
        </div>
    </div>

    <app-breadcrumb [home]="home" [items]="items" />

    <!-- Email Editor -->
    <div class="col-span-9 h-full">
        <email-editor #editor style="height: 70vh" class="h-full" [options]="options" (loaded)="onLoad()" (ready)="onReady($event)"> </email-editor>
    </div>
</div>
