<h4 class="font-semibold text-gray-800 mb-2">🎓 KẾ HOẠCH TRAO BẰNG</h4>

<ul class="space-y-1 text-base">
    @for (item of data(); track $index) {
    <div>
        <p-tag [severity]="subPlanStatuses.getSeverity(item.trangThai || 0)" class="w-full text-left" >
            <div [ngClass]="['w-full text-base ', item.trangThai !== subPlanStatuses.DANG_TRAO_BANG ? 'cursor-pointer' : '' ]" (click)="onClickSubPlan(item)">
                @if (item.trangThai === subPlanStatuses.DA_TRAO_BANG) {<i class="pi pi-check mr-1"></i>}
                @if (item.trangThai === subPlanStatuses.DANG_TRAO_BANG) {<i class="pi pi-arrow-right mr-1"></i>}
                {{item.ten}} <br>
                <span class="text-sm text-gray-500">{{item.tienDo}}</span>
            </div>
        </p-tag>
    </div>
    }
</ul>