<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="ten" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Tên khoa<span
                class="text-red-500">*</span></label>
        <input pInputText formControlName="ten" id="ten" type="text" class="w-full mb-2" />
        @if (form.get('ten')?.hasError('required') && form.get('ten')?.touched) {
        <p-message severity="error" variant="simple" size="small">{{ getError('ten') }} </p-message>
        }
    </div>
    <div class="mb-3">
        <label for="moTa" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Mô tả</label>
        <input pInputText formControlName="moTa" id="moTa" type="text" class="w-full mb-2" />
    </div>
    <div class="mb-3">
        <label for="order" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Thứ tự<span
                class="text-red-500">*</span></label>
        <input pInputText formControlName="order" id="order" type="number" class="w-full mb-2" />
        @if (form.get('order')?.hasError('required') && form.get('order')?.touched) {
        <p-message severity="error" variant="simple" size="small">{{ getError('order') }} </p-message>
        }
    </div>
    <div class="mb-3">
        <label for="moBai" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Mở bài</label>
        <input pInputText formControlName="moBai" id="moBai" type="text" class="w-full mb-2" />
    </div>
    <div class="mb-3">
        <label for="ketBai" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Kết bài</label>
        <input pInputText formControlName="ketBai" id="ketBai" type="text" class="w-full mb-2" />
    </div>
    <div class="mb-3">
        <label for="note" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Ghi chú</label>
        <input pInputText formControlName="note" id="note" type="text" class="w-full mb-2" />
    </div>
    <div class="mb-3">
        <label for="truongKhoa" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Trưởng khoa</label>
        <input pInputText formControlName="truongKhoa" id="truongKhoa" type="text" class="w-full mb-2" />
    </div>
    <div class="mt-5 flex flex-row justify-end">
        <p-button label="Lưu" icon="pi pi-save" type="submit" [loading]="loading" />
    </div>
</form>